#main {
  display: none
}

#video-list > div {
  float: left;
}

#video-list video {
  display: block;
  margin-right: 10px;
  width: 130px;
  height: 100px;
  border: 1px solid black;
  background: #333333;
}

#video-list:after {
  content: "";
  clear: both;
  display: block;
}

#board {
  margin-top: 10px;
  padding: 5px;
  height: 200px;
  width: 500px;
  overflow: auto;
  border: 1px solid #ccc;
}

#board .name {
  font-size: small;
}

#board .message {
  font-size: large;
}

#board .system-message {
  font-size: x-small;
  font-style: italic;
}

#message {
  margin-top: 15px;
  width: 250px;
}

#description {
  margin-top: 15px;
  padding: 5px;
}

#log {
  margin-top: 15px;
  padding: 5px;
  height: 200px;
  width: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  font-size: 5px;
  display: none;
}
